files/ragkku-github-ready/whatsapp-gemini-advanced-workflow.json
{
  "name": "WhatsApp Bot with Gemini AI - Advanced",
  "nodes": [
    {
      "parameters": {
        "updates": ["messages"]
      },
      "id": "whatsapp-trigger",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "text-condition",
              "leftValue": "={{ $json.messages[0].type }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "fallbackOutput": "extra"
      },
      "id": "check-message-type",
      "name": "Check Message Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [460, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "user_phone",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}"
            },
            {
              "name": "user_message",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "session_id",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].from + '_' + new Date().toDateString() }}"
            }
          ]
        }
      },
      "id": "extract-data",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "help-command",
              "leftValue": "={{ $json.user_message }}",
              "rightValue": "/help",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "start-command",
              "leftValue": "={{ $json.user_message }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "fallbackOutput": "extra"
      },
      "id": "check-commands",
      "name": "Check Commands",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "YOUR_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "={{ $json.user_phone }}",
        "textBody": "🤖 *Selamat datang di Bot AI Gemini!*\n\nPerintah yang tersedia:\n• /help - Tampilkan bantuan\n• /start - Mulai percakapan baru\n• Kirim pertanyaan apapun untuk mendapat jawaban dari AI\n\n✨ Bot ini menggunakan Google Gemini AI terbaru untuk memberikan respons yang akurat dan informatif.\n\nSilakan ajukan pertanyaan Anda!"
      },
      "id": "send-help",
      "name": "Send Help Message",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "sessionIdTemplate": "={{ $json.session_id }}",
        "chatModel": {
          "__rl": true,
          "value": "gemini-chat-model",
          "mode": "id"
        },
        "memory": {
          "__rl": true,
          "value": "buffer-memory",
          "mode": "id"
        },
        "tools": []
      },
      "id": "ai-agent",
      "name": "AI Agent with Memory",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.3,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {
          "temperature": 0.7,
          "maxOutputTokens": 2048
        }
      },
      "id": "gemini-chat-model",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "sessionIdTemplate": "={{ $('Extract Message Data').item.json.session_id }}",
        "contextWindowLength": 10
      },
      "id": "buffer-memory",
      "name": "Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "YOUR_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "={{ $('Extract Message Data').item.json.user_phone }}",
        "textBody": "={{ $json.output }}"
      },
      "id": "send-ai-response",
      "name": "Send AI Response",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [1340, 500]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "YOUR_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "📎 Maaf, saat ini saya hanya bisa memproses pesan teks.\n\nSilakan kirim pertanyaan Anda dalam bentuk teks, atau gunakan perintah:\n• /help - untuk bantuan\n• /start - untuk memulai percakapan"
      },
      "id": "handle-non-text",
      "name": "Handle Non-Text",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [680, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_logs (user_phone, message, response, timestamp, session_id) VALUES ($1, $2, $3, $4, $5)",
        "additionalFields": {
          "queryParameters": "[\n  \"{{ $('Extract Message Data').item.json.user_phone }}\",\n  \"{{ $('Extract Message Data').item.json.user_message }}\",\n  \"{{ $json.output }}\",\n  \"{{ $('Extract Message Data').item.json.timestamp }}\",\n  \"{{ $('Extract Message Data').item.json.session_id }}\"\n]"
        }
      },
      "id": "log-to-database",
      "name": "Log to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1560, 500],
      "disabled": true,
      "notes": "Opsional: Enable untuk logging ke database"
    },
    {
      "parameters": {
        "content": "## 🔧 Setup Database (Opsional)\n\nUntuk logging percakapan, buat tabel:\n\n```sql\nCREATE TABLE chat_logs (\n  id SERIAL PRIMARY KEY,\n  user_phone VARCHAR(20),\n  message TEXT,\n  response TEXT,\n  timestamp TIMESTAMP,\n  session_id VARCHAR(100)\n);\n```\n\nKemudian enable node \"Log to Database\"",
        "height": 260,
        "width": 320
      },
      "id": "database-note",
      "name": "Database Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1540, 200]
    },
    {
      "parameters": {
        "content": "## 🚀 Fitur Advanced Workflow\n\n✅ **Memory Buffer**: Bot mengingat 10 pesan terakhir\n✅ **Session Management**: Per user per hari\n✅ **Command Support**: /help, /start\n✅ **Better Error Handling**: Pesan yang lebih informatif\n✅ **Database Logging**: Opsional untuk analytics\n✅ **Temperature Control**: Respons yang lebih natural\n\n🎯 **Customizable**:\n- Ubah jumlah memory buffer\n- Tambah command baru\n- Integrate dengan database\n- Add rate limiting",
        "height": 320,
        "width": 360
      },
      "id": "features-advanced",
      "name": "Advanced Features",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [20, 80]
    },
    {
      "parameters": {
        "content": "## 💡 Tips Konfigurasi\n\n**Memory Settings:**\n- contextWindowLength: 10 (pesan terakhir)\n- sessionId: per user per hari\n\n**Model Settings:**\n- temperature: 0.7 (kreatif tapi konsisten)\n- maxTokens: 2048 (respons panjang)\n\n**Commands:**\n- Tambah /reset untuk clear memory\n- Tambah /info untuk statistik user\n- Tambah /feedback untuk rating",
        "height": 280,
        "width": 320
      },
      "id": "config-tips",
      "name": "Configuration Tips",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [400, 80]
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Check Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Message Type": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Non-Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "Check Commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Commands": {
      "main": [
        [
          {
            "node": "Send Help Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent with Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent with Memory": {
      "main": [
        [
          {
            "node": "Send AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send AI Response": {
      "main": [
        [
          {
            "node": "Log to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "timezone": "Asia/Jakarta"
  },
  "staticData": null,
  "tags": ["whatsapp", "ai", "gemini", "chatbot", "memory", "advanced"],
  "triggerCount": 1,
  "updatedAt": "2025-10-30T00:00:00.000Z",
  "versionId": 2
}
