files/ragkku-github-ready/whatsapp-gemini-workflow.json
{
  "name": "WhatsApp Bot with Google Gemini AI",
  "nodes": [
    {
      "parameters": {
        "updates": ["messages"]
      },
      "id": "whatsapp-trigger",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "text-condition",
              "leftValue": "={{ $json.messages[0].type }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "fallbackOutput": "extra"
      },
      "id": "check-message-type",
      "name": "Check Message Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "value": "models/gemini-2.0-flash-exp",
          "mode": "list",
          "__rl": true
        },
        "prompt": "={{ 'Anda adalah asisten AI yang membantu menjawab pertanyaan dalam bahasa Indonesia. Jawab dengan ramah dan informatif.\\n\\nPertanyaan: ' + $('WhatsApp Trigger').item.json.messages[0].text.body }}"
      },
      "id": "gemini-ai",
      "name": "Gemini AI",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "YOUR_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.response }}"
      },
      "id": "send-response",
      "name": "Send Response",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "YOUR_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "Maaf, saat ini saya hanya bisa memproses pesan teks. Silakan kirim pertanyaan Anda dalam bentuk teks. 📝"
      },
      "id": "handle-non-text",
      "name": "Handle Non-Text",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "content": "## 🚀 Setup WhatsApp Business API\n\n1. Buat WhatsApp Business Account di Meta for Developers\n2. Dapatkan Phone Number ID dari dashboard\n3. Setup Webhook URL dengan endpoint n8n Anda\n4. Dapatkan Access Token untuk autentikasi\n5. Verifikasi webhook dengan verify token\n\n📋 **Yang perlu diupdate:**\n- Ganti YOUR_PHONE_NUMBER_ID dengan ID yang sebenarnya\n- Setup credentials WhatsApp di n8n\n- Pastikan webhook sudah terkonfigurasi",
        "height": 320,
        "width": 360
      },
      "id": "whatsapp-setup-note",
      "name": "Setup Guide: WhatsApp",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [20, 80]
    },
    {
      "parameters": {
        "content": "## 🤖 Setup Google Gemini API\n\n1. Buka Google AI Studio (ai.google.dev)\n2. Buat project baru atau gunakan yang ada\n3. Generate API Key untuk Gemini\n4. Simpan API Key di n8n credentials\n\n📋 **Model yang digunakan:**\n- gemini-2.0-flash-exp (model terbaru dan tercepat)\n- Mendukung bahasa Indonesia dengan baik\n- Cocok untuk chat bot real-time",
        "height": 280,
        "width": 340
      },
      "id": "gemini-setup-note",
      "name": "Setup Guide: Gemini",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [400, 80]
    },
    {
      "parameters": {
        "content": "## ⚡ Fitur Workflow\n\n✅ **Auto-detect message type**\n- Filter hanya pesan teks\n- Handle pesan non-teks dengan pesan error\n\n✅ **AI Response dengan Gemini**\n- Menggunakan model Gemini terbaru\n- Prompt dalam bahasa Indonesia\n- Response time yang cepat\n\n✅ **WhatsApp Integration**\n- Trigger otomatis dari webhook\n- Response langsung ke pengirim\n- Mendukung format pesan yang rapi",
        "height": 280,
        "width": 320
      },
      "id": "features-note",
      "name": "Fitur Workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [760, 80]
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Check Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Message Type": {
      "main": [
        [
          {
            "node": "Gemini AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Non-Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini AI": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "timezone": "Asia/Jakarta"
  },
  "staticData": null,
  "tags": ["whatsapp", "ai", "gemini", "chatbot", "indonesia"],
  "triggerCount": 1,
  "updatedAt": "2025-10-30T00:00:00.000Z",
  "versionId": 1
}
